section {
    max-width: 500px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, textarea {
    padding: 5px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  